@import url(./Vars.css);

.header{
    border-top: 6px solid var(--hilight-color);
    background-color: var(--bg-color);
    text-align: left;
    font-size: 12px;
    position: relative;
    z-index: 200;
}
.logo{
    padding: 24px 42px;
    display: inline-block;
}
.header nav{
    float: right;
    color: var(--text-color-one);
    padding: 20px 12px 0 0;
}
.header li{
    display: inline-block;
}
.header ul{
    padding: 0;
    margin: 0;
}
.header a{
    padding: 10px 20px;        
    display: inline-block;
    text-align: center;    
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    transition: 500ms;
}
.header a:hover{
    background-color: var(--hilight-color)
}
@media screen and (max-width:1015px){
    .header nav{
        float: none;
        display: block;
        padding: 0 0 10px 1vw;
    }
    .header a{
        width: 19vw;
        padding-left: 0;
        padding-right: 0;
    }
}