.sidebar{
    --buttonColor:rgb(46, 86, 159);
    --buttonHoverColor:rgb(60, 111, 205);
}
.sidebarLogo{
    width: 100%;
    height: 105px;
}
.sidebarLogo img{
    width: 80%;
    object-fit: contain;
    margin-top: 40px;
}
.sidebar{    
    position: fixed;   
    z-index: 2;
    top:0px;
    height: 100vh;
    width: 280px;
    background-color: rgb(240, 248, 255);
    background-color: rgb(45, 53, 72);
    scrollbar-color: rgb(45, 53, 72) rgb(45, 53, 72);
    left: -20px;
    border-radius: 0 2px 2px 0;
    display: inline-block;    
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    transition: 800ms;
    color: white;
    overflow-y: scroll;
    direction: rtl;
    box-sizing: border-box;
}
.chapterLine{
    min-height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgba(128, 128, 128, 0.442);
    width: 100%;
    font-size: 14px;
    position: relative;
}
.sectionLine{
    height: 40px;
    line-height: 40px;
    width: 100%;    
    font-size: 12px;
    position: relative;
}
.sectionLineContainer{
    display: none;
}
.chapterLineSelected{
    /* background-image: linear-gradient(rgba(168, 186, 255, 0.5), rgba(65, 82, 121, 0.5)); */
    background-color: var(--buttonColor);
    background-image: linear-gradient(rgba(255, 255, 255, 0.254), rgba(25, 48, 70, 0));
}
.sectionLineSelected{
    /* background-image: linear-gradient(rgba(141, 199, 253, 0.5), rgba(65, 94, 121, 0.5)); */
    background-color: var(--buttonColor);
}
.sidebar .closeButton{
    top: 110px;
}
.sectionLine .closeButton{
    height: 20px;
    width: 20px;
    line-height: 20px;
    display: none;
    right: auto;
    left: 5px;
}
.sectionLine:hover .closeButton{
    height: 20px;
    width: 20px;
    line-height: 20px;
    display: block;
}
.sectionLine:hover{    
    background-color: var(--buttonHoverColor);
    background-image: linear-gradient(rgba(0, 255, 255, 0), rgba(39, 137, 137, 0.213));
}
.sectionLine .editButton{
    background-color: rgba(138, 138, 215, 0.52);
    right: auto;
    left: 30px;
}
.sectionLine .editButton:hover{
    background-color: rgba(105, 105, 198, 0.75);
}
.chapterLine:hover .sectionLineContainer{
    display: block;
}
.display{
    display: block;
}
.sidebarTitle{
    border-bottom: 1px solid black;
    padding: 10px;
}
.sidebarButton{
    background-color: rgb(46, 86, 159);
    background-image: linear-gradient(rgba(0, 255, 255, 0), rgba(39, 137, 137, 0.35));
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.442);
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.sidebarButton:hover{
    background-color: rgb(60, 111, 205);
}
.closed{
    left: -250px;
}
.hide{
    display: none;
}
.sidebarOpenButton{
    height: 80px;
    width: 30px;
    background-color: rgb(46, 86, 159);
    border-radius: 5px;
    position: absolute;
    z-index: 4;
    right: 0px;
    top:40%;
    line-height: 80px;
    font-size: 28px;
}
.viewSet{
    position: absolute;
    top: calc(98vh);
    height: 10px;
    width: 10px;
    right: 0;
    background-color: blueviolet;
}
.buttonBox{    
    top: 105px;
    right: 0;
    width: 100%;    
}
.checkbox{
    position: absolute;
    height: 25px;
    width: 25px;
    
    top: 8px;
    left: 10px;
    background-image: url("../Images/greenCheck.png");
    box-sizing: border-box;
    background-size: contain;
}
.sidebar .closeButton{
    top: 155px;
}
@media screen and (max-width:1015px) {
    .sidebar{
        padding-top: 150px;
    }
    .sidebar .closeButton{
        top: 150px;

    }
}