@import url('https://fonts.googleapis.com/css2?family=Domine');
@import url('./Styles/Vars.css');
.App {
  text-align: center;
  background-color: rgb(44,50,66);
  min-height: 100vh;
  font-family: 'Domine', monospace;
  font-size: 12px;
}
.button{
  width: 180px;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  color: white;  
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;  
  display: inline-block;
  box-sizing: border-box;  
  font-size: 12px;
  vertical-align: top;
  background-image: linear-gradient(rgb(25, 159, 204), rgb(7, 114, 149));
}
.button:hover{
  background-image: linear-gradient(rgb(87, 197, 234), rgb(36, 136, 169));

}